<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Counter Assignment</title>
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        {% if session['count'] < 2: %}
            <h3>{{session['count']}} time</h3>
        
        {% elif session['count'] > 1: %}
            <h3>{{session['count']}} times</h3>
        
        {%endif%}
        <div class="btn-group">
            <form action='/add' method='post'>
                <input type='submit' class="btn btn-danger btn-lg" value='Add two visits'>
            </form>
        </div>
        <div class="btn-group">
            <form action='/reset'>
                <input type='submit' class="btn btn-success btn-lg" value='Reset'>
            </form>
        </div>
    </div>
</body>
</html>