<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Ajax Demo</title>
    <script src="https://ajax.googleapis.com/aj..."></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  </head>
  <body>
    <h1>Demo 1 - JSON VS HTML</h2>
    <button id='button_json' class='btn btn-primary'>Fetch HttpResponse from user/login/all.json</button>
    <button id='button_html' class='btn btn-primary'>Fetch HttpResponse from user/login/all.html</button>
    <div id='placeholder1' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
      Placeholder for the Ajax Response
    </div>
    <script>
      $('#button_json').click(function(){
        $.ajax({
              url: '/user_login/all.json', /* Where should this go? */
              success: function(serverResponse) {  /* What code should we run when the server responds? */
                console.log("Received this from server:", serverResponse)
                console.log("Now, I can use the serverResponse to manipulate the DOM")
                $('#placeholder1').html(JSON.stringify(serverResponse))
              }
          });
      });
      $('#button_html').click(function(){
        $.ajax({
                url: '/user_login/all.html', /* Where should this go? */
                success: function(serverResponse) {  /* What code should we run when the server responds? */
                  console.log("Received this from server:", serverResponse)
                  $('#placeholder1').html(serverResponse)
                }
            });
        });
    </script>

    <h1>Demo 2 - Ajax Form</h1>
    <form action='/user_login/find' method='post' class='ajax_form'>
      Find all users whose first name starts with
        {% csrf_token %}
        <input type='text' name='first_name_starts_with' id='ajax_first_name' />
    </form>
    <div id='placeholder2' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
        Placeholder for the Ajax Form
    </div>
    <script>
      $('.ajax_form').submit(function(e){
        e.preventDefault()
      })
      $('#ajax_first_name').keyup(function(){
        console.log('Sending Ajax request to /user_login/find')
        console.log('Submitting the following data', $(this).parent().serialize())
        $.ajax({
          url: '/user_login/find', /* Where should this go? */
          method: 'post', /* Which HTTP verb? */
          data: $(this).parent().serialize(), /* Any data to send along? */
          success: function(serverResponse) { /* What code should we run when the server responds? */
            $('#placeholder2').html(serverResponse)
          }
        })
      });
    </script>
    
        <h1>Demo 3 - Ajax Form II</h1>
    <h2>Create a new user</h2>
    <form action='/user_login/create' method='post' class='ajax_form' id='create_user_ajax_form'>
        {% csrf_token %}
        First Name: <input type='text' name='first_name'/>
        Last Name: <input type='text' name='last_name'/>
        Email: <input type='text' name='email_address'/>
        Age: <input type='text' name='age'/>
        <input type='submit' value='Submit' />
    </form>
    <div id='placeholder3' style='margin-top:35px; border:1px solid silver; width:750px; padding:10px;'>
        Placeholder for the Ajax Form part II
    </div>
    <script>
      $('#create_user_ajax_form').submit(function(e){
        e.preventDefault()
        console.log('Sending Ajax request to', $(this).attr('action'))
        console.log('Submitting the following data', $(this).serialize())
        $.ajax({
          url: $(this).attr('action'), /* Where should this go? */
          method: 'post', /* Which HTTP verb? */
          data: $(this).serialize(), /* Any data to send along? */
          success: function(serverResponse) { /* What code should we run when the server responds? */
            $('#placeholder3').html(serverResponse)
          }
        })
      });
    </script>

  </body>
</html>