<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Great Guess Game</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>

        <p>I am thinking of a number between 1 and 100</p>
    
        <h1 style="color:{{session['display']['css_class']}}">{{session['display']['content']}}</h1>
    
        <!-- read on to learn about form actions, we'll talk about the method in a later section -->
        <div class="btn-group">
            <form action='/guess' method='post'>
                <input type='number' name='userguess'>
                <input type='submit' class="btn btn-success btn-lg" value='Submit'>
            </form>
        </div>
        <div class="btn-group">
            <form action='/reset'>
                <input type='submit' class="btn btn-danger btn-lg" value='Reset'>
            </form>
        </div>
    </div>
</body>
</html>