{% extends './layout.html' %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'users/css/main.css' %}">
{% endblock %}

{% block title %} Add A Job {% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Add a Job</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'jobs:dashboard' %}" class="nav">Back</a></li>
                <li><a href="{% url 'users:logout' %}" class="nav">Logout</a></li>
            </ul>
        </div>
    </nav>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form class="form-horizontal" action="{% url 'jobs:create' %}" method="post">           
        {% csrf_token%}
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title</label>
            <input type="text" name="title" value="">
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="descrption">Description</label>
            <textarea name="description" id="" cols="30" rows="10"></textarea>			
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="location">Location</label>
            <input type="text" name="location" value="">		
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
{% endblock %}


