{% extends './layout.html' %}

{% block head %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'users/css/main.css' %}">
{% endblock %}

{% block title %} Handy Helper Dashboard {% endblock %}

{% block body %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome {{ user.first_name}}!</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'jobs:addjob' %}">Add A Job</a></li>
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="form-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job</th>
                <th>Location</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs_list %}
				<tr>
					<td>{{ job.title }}</td>
					<td>{{ job.location }}</td>
					<td> <a href=" {% url 'jobs:view' job.id %} ">View</a>
						<a href=" {% url 'jobs:myjobs' job.id %}">Add</a>
						{% if job.creator.id == request.session.user_id %}
							<a href="{% url 'jobs:edit' job.id %} ">Edit</a>
							<a href=" {% url 'jobs:delete' job.id %} ">Cancel</a>
						{% endif %}
					</td>
				</tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="form-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>My Jobs ... </th>
            </tr>
        </thead>
        </tbody>
            {% for job in current_user_job_list %}
                <tr>
                    <td>
                        {{job.title}} <a href=" {% url 'jobs:view' job.id %} ">View</a>  <a href=" {% url 'jobs:delete' job.id %} ">Done</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}