<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Test</title>
    <style>
        body {
            background-color: LightBlue;
        }
        h1 {
            color: maroon;
            margin-left: 0px auto;
            text-align: center;
        } 
        div {
            display: inline-block;
            border: solid 4px black;
            width: 100px;
            height: 100px;
            /* margin-left: 10px; */
            /* padding: 10px; */
            margin: 10px auto;
            text-align: center;

        }
    </style>

</head>
<body>
    <h1>Welcome</h1>
    <!-- this will output the value of our phrase variable
    <p>Phrase: {{ phrase }}</p>
    <!-- this will output the value of our times variable -->
    <!-- <p>Times: {{ times }}</p>
    <!-- here is an example of embedding a for-loop in our code -->
    {% for i in range(0,x): %}
    <div></div>
    {% endfor %}
    <!-- here is an example of embedding an if statement in our code -->
    {% if phrase == "hello" %}
    <p>The phrase says hello</p>
    {% endif %}

</body>
</html>