{% extends './layout.html' %}
{% block title %} Login & Reg | Home {% endblock %}
{% block body %}     
        <h2>Register</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="form-container"> 
            <form action="{% url 'users:create' %}" method='post'>
                {% csrf_token %}           
                <label for="first_name">First Name:</label>
                <input type='text' placeholder="Enter First Name" name='first_name'>            
                <label for="last_name">Last Name:</label>
                <input type='text' placeholder="Enter Last Name" name='last_name'>
                <label for="email">Email:</label>
                <input type='text' placeholder="Enter email" name='email'>
                <label for="password">Password:</label>
                <input type='password' placeholder="Enter Password" name='password'>      
                <label for="confirm_password">Confirm Password:</label>
                <input type='password' placeholder="Confirm Password" name='confirm_password'>
                <input type="hidden" name="action" value="registered">   
                <input type='submit' class="btn btn-info" value='Register'>
            </form>
        </div>
        <div class="form-container">        
            <h2>Login</h2>
            <form action="{% url 'users:login' %}" method='post'>
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type='text' placeholder="Enter email" name='email'>
                <label for="password">Password:</label>
                <input type='password' placeholder="Enter Password" name='password'>
                <input type="hidden" name="action" value="logged in">
                <input type='submit' class="btn btn-success" value='Login'> <a href="{% url 'users:logout' %}" class="button">Logout</a>
            </form>
        </div>

{% endblock %}