<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "ninjagame/css/style.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Ninja Gold Assignment</title>
    </head>
    <body>
        <div id="wrapper">
            <h1>Welcome to Ninja Gold</h1>
            <div class="gold">
                <h3>Your Gold: <span class="total">{{ request.session.gold }}</span></h3>
            </div>
            <div id="btn-group">
                <div class="locations">
                    <h2>Farm</h2>
                    <p>(earns 10-20 golds)</p>
                    <form action="/process_money" method="POST">
                    {% csrf_token %} 
                    <input type="hidden" name="action" value="farm">
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="locations">
                    <h2>Cave</h2>
                    <p>(earns 5-10 golds)</p>
                    <form action="/process_money" method="POST">
                    {% csrf_token %} 
                    <input type="hidden" name="action" value="cave">
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="locations">
                    <h2>House</h2>
                    <p>(earns 2-5 golds)</p>
                    <form action="/process_money" method="POST">
                    {% csrf_token %} 
                    <input type="hidden" name="action" value="house">
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
                <div class="locations">
                    <h2>Casino</h2>
                    <p>(earns/takes 0-50 golds)</p>
                    <form action="/process_money" method="POST">
                    {% csrf_token %} 
                    <input type="hidden" name="action" value="casino">
                    <input type="submit" value="Find Gold!">
                    </form>
                </div>
            </div>
            <div id="activities_container">
                <h3>Activities:</h3>
                <div class=activities>
                    {% for activity in request.session.gold %}
                    <p style="color:{{ session.css_class }}">{{ activity }}</p>
                    {% endfor %}
                </div>
                <div class="btn-group">
                    <form action='/reset' method="POST">
                        {% csrf_token %} 
                        <input type='submit' class="btn btn-danger btn-lg" value='Reset'>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>